<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, user-scalable=no,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./assets/normalize.css">
  <link rel="stylesheet" href="./assets/index.css">
  <link rel="stylesheet/less" type="text/css" href="./assets/styles.less">
  </link>
  <!-- less compile -->
  <script src="./assets/less.min.js"></script>
</head>

<body>
  <div id="root">
    <router-view></router-view>
  </div>

  <!-- tempalte home -->
  <script type="text/template" id="home">
        <div class="wrapper">
            <div class="v-i-top center">
                ｌｏｇｏ
            </div>
            <div class="v-i-form">
                <van-form @submit="onSubmit">
                    <van-field
                    v-model="reporter"
                    name="reporter" 
                    label="上报者姓名"
                    placeholder="上报者姓名"
                    :rules="[{ required: true, message: '请填写上报者姓名' }]"
                    />
                    <van-field
                        v-model="username"
                        name="username"
                        label="患者姓名"
                        placeholder="患者姓名"
                        :rules="[{ required: true, message: '请填写患者姓名' }]"
                    />
                    <van-field 
                    v-model="idCard"
                    name="idCard" 
                    label="患者身份证号"
                    placeholder="请输入患者身份证号"   
                    :rules="[{ required: true,message: '请填写患者身份证号' },{pattern,message:'身份证号输入错误,请重新输入'}]" />
                    <div style="margin: 16px;">
                    <van-button round block type="info" native-type="submit">下一步</van-button>
                    </div>
                </van-form>
            </div>
        </div>
    </script>

  <!-- template info-->
  <script type="text/template" id="info">
        <div class="wrapper">
            <div class="header">患者信息</div>
            <div class="v-ii-form mt-to-header">
                <van-form @submit="onSubmit">
                    <div v-for="v in view.form" :key="v.prop">
                      <div v-if="['tel','text','number'].includes(v.type)">
                        <div :class="v.class" v-if="v.label==''">
                          {{v.customLabel}}
                        </div>
                        <van-field
                          v-model="form[v.prop]"
                          :name="v.name"
                          :type="v.type"
                          :label="v.label"
                          :placeholder="v.placeholder"
                          :rules="v.rules"
                        />
                      </div>
                      <div class="select-date" v-if="v.type == 'select'">
                        <span class="label">{{v.label}}</span>
                        <div class="select">
                          <span v-for="d in v.options" class="date">
                            <select v-if="d.prop == 'year'" v-model="form.selectDate[d.prop]">
                              <option v-for="i in d.step" :key="i">{{i+d.value - d.step}}</option>
                            </select>
                            <select v-if="d.prop!=='year'"  v-model="form.selectDate[d.prop]">
                              <option v-for="(i) in d.value" :key="i">{{i}}</option>
                            </select><span class="subffix">{{d.label}}</span>
                          </span>
                        </div>
                      </div>
                      <div v-if="v.type == 'radio'">
                          <van-field :name="v.name" :label="v.label">
                            <template #input>
                              <van-radio-group v-model="form[v.prop]" direction="horizontal">
                                <van-radio v-for="o in v.options" :name="o.value" :key="o.value">{{o.label}}</van-radio>
                              </van-radio-group>
                          </template>
                        </van-field>
                      </div>
                      <div v-if="v.type == 'picker'">
                        <van-field
                            :readonly="v.readonly"
                            :clickable="v.clickable"
                            :name="v.name"
                            :value="form[v.prop]"
                            :label="v.label"
                            :placeholder="v.placeholder"
                            @click="v.onClick(v.prop)"
                            :rules="v.rules"
                          />
                      </div>
                    </div>

                    <div style="margin: 16px;">
                      <van-button round block type="info" native-type="submit">下一步</van-button>
                    </div>
                  </van-form>
            </div>


            <van-popup v-model="view.model.picker" position="bottom">
                <van-datetime-picker
                  v-if="view.model.pickerType == 'date-picker'"
                  type="date"
                  title="年月日"
                  :formatter="formatter"
                  :min-date="view.model.minDate"
                  :max-date="view.model.maxDate"
                  @confirm="(val)=>onConfirm(val,'date-picker','birthDate')"
                  @cancel="view.model.picker = false"
                  />
                  <!-- :value="value" -->
                <van-picker
                  v-else
                  title="民族"
                  show-toolbar
                  :columns="view.model.nationColumns"
                  @confirm="(val)=>onConfirm(val,'picker','nation')"
                  @cancel="view.model.picker = false"
                />
              </van-popup>
        </div>  
    </script>

  <!-- template  about -->
  <script type="text/template" id="adverse">
        <div class='wrapper'>
          <div class="header">不良事件</div>
          <div class="v-iii-form mt-to-header">
            <van-form @submit="onSubmit">

              <div class="checkbox-question" v-for="question in view.form.question" :key="question.id">
                <span class="custom-label bold">{{question.label}}</span>
                <van-checkbox-group v-model="form[question.prop]">
                  <van-checkbox shape="square" :name="item.value"  v-for="item in question.options">{{item.text}}</van-checkbox>
                </van-checkbox-group>
                <van-field v-model="form.quest_text" placeholder="请输入" />
              </div>

              <div class="custom-select">
                <span class="custom-label bold">3. 问题发生日期</span>
                <custom-selectate-component  :form="form.date"/>
              </div>

              <div class="custom-quetion">
                <span class="custom-label bold">4、是否第一次出现此问题？</span>
                <van-radio-group v-model="form.first_radio" direction="horizontal">
                  <van-radio name="1">是</van-radio>
                  <van-radio name="2">否</van-radio>
                </van-radio-group>
              </div>

              <div class="custom-same-question">
                <span class="custom-label bold">5、以前或家族中是否有发生过同样的问题?</span>
                <van-radio-group v-model="form.first_same_radio" direction="horizontal">
                  <van-radio name="1">是</van-radio>
                  <van-radio name="2">否</van-radio>
                  <van-radio name="3">不详</van-radio>
                </van-radio-group>
              </div>

              <div class="custom-lib-question">
                <span class="custom-label bold">6、发生此问题前后有无相关检查/实验室结果?</span>
                <van-field v-model="form.quest_lib_text" placeholder="请输入" />
                <van-uploader v-model="form.fileList" multiple :after-read="afterRead" />
              </div>

              <div class="custom-lib-question">
                <span class="custom-label bold">7、发生此问题后有无使用其他药物来缓解或治疗？</span>
                <van-radio-group v-model="form.durge" direction="horizontal">
                  <van-radio name="1">是</van-radio>
                  <van-radio name="2">否</van-radio>
                </van-radio-group>
                <van-field v-model="form.quest_durge_text" placeholder="请输入" />
              </div>

              <div class="custom-lib-question answer">
                <span class="custom-label bold">8、问题最终的结果是什么？</span>
                <van-checkbox-group v-model="form.answer" direction="horizontal">
                  <van-checkbox name="1" shape="square">痊愈</van-checkbox>
                  <van-checkbox name="2" shape="square">好转</van-checkbox>
                  <van-checkbox name="3" shape="square">未好转</van-checkbox>
                  <van-checkbox name="4" shape="square">不详</van-checkbox>
                  <van-checkbox name="5" shape="square">有后遗症</van-checkbox>
                  <van-checkbox name="6" shape="square">表现</van-checkbox>
                </van-radio-group>
                <van-field v-model="form.quest_answer_text" placeholder="请输入" />
              </div>

              <div class="custom-lib-question">
                <span class="custom-label bold">9、告诉我们发生了什么，如何发生或为什么发生。</span>
                <van-field v-model="form.quest_hap_text" placeholder="请输入" />
                <van-uploader v-model="form.fileList1" multiple :after-read="afterRead1" />
              </div>

              <div style="margin: 16px;">
                <van-button round block type="info" native-type="submit">下一步</van-button>
              </div>
            </van-form>
          </div>
        </div>
    </script>


  <script type="text/template" id="select-date">
    <div class="select-date">
          <span class="label">{{ label }}</span>
          <div class="select">
              <span v-for="d in options" class="date">
                <select v-if="d.prop == 'year'" v-model="form[d.prop]">
                  <option v-for="i in d.step" :key="i">{{ i+ d.value - d.step}}</option>
                </select>
              <select v-if="d.prop!=='year'" v-model="form[d.prop]">
                <option v-for="(i) in d.value" :key="i">{{ i }}</option>
              </select>
              <span class="subffix">
                {{ d.label }}
              </span>
            </span>
          </div>
    </div>
  </script>


  <script src="./assets/flexible2.js"></script>
  <script src="./assets/moment.min.js"></script>
  <script src="./assets/vue.min.js"></script>
  <script src="./assets/vue-router.min.js"></script>
  <script src="./assets/vuex.min.js"></script>
  <script src="./assets/vant.min.js"></script>

  <script src="./model/nations.js"></script>
  <script src="./assets/index.js"></script>
</body>

</html>